body{
    background-image: url('read.jpg');
    display: flex;
    justify-content: center;
    background-size: cover;

}
#user{
    background-color: rgb(150, 126, 126);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 200px;
    padding: 20px;
    margin-top: 100px;

}
