#h3 {
    text-align: center;
}
.game {
    width: 600px;
    height: 200px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    margin: auto;
}

#dino {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

#cactus {
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 600px;
}

#msg {
    text-align: center;
    font-weight: bold;
    color: red;
}


